* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.light{
  --color-text: white;
  --color-border: white;
  --bg-white: white;
  --bg-smock: whitesmoke;
  --bg-gray: gray;
  --bg-blue: #447ac0;
  --bg-magenta: #c044b8;
  --bg-orange: #c08a44;
  --bg-green: #44c04c;
}

.dark{
  --color-text: whitesmoke;
  --color-border: whitesmoke;
  --bg-white: rgb(59, 59, 59);
  --bg-smock: gray;
  --bg-gray: rgb(59, 59, 59);
  --bg-blue: rgb(86, 86, 86);
  --bg-magenta: silver;
  --bg-orange: gray;
  --bg-green: silver;
}

.bg-gray {
  background-color: var(--bg-gray);
}

.bg-blue{
  background-color: var(--bg-blue);
}

.bg-magenta{
  background-color: var(--bg-magenta);
}

.bg-orange{
  background-color: var(--bg-orange);
}

.bg-green {
  background-color: var(--bg-green);
}
  
body {
	width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(1, 1fr) 1fr;
  background-color: var(--bg-blue);
  color: var(--color-text);
}

aside,
section,
article,
footer {
  grid-column: 1 / 12;
  font-size: 2.5em;
  line-height: 150px;
  border: 4px solid var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 12;
  border: 4px solid var(--color-border);
}

header h1 {
  font-size: 4em;
  line-height: 150px;
  text-align: center;
}

header .theme {
  width: 170px;
}

label#lbl-theme span {
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(../../../img/theme-light.png) no-repeat;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  border: 2px solid var(--color-border);
  border-radius: 25px;
}

input#ckb-theme {
  display: none;
}

label#lbl-theme h2 {
  position: relative;
  top: 10px;
  left: 60px;
}

label#lbl-theme .text-oscuro{
  display: none;
}

label#lbl-theme span:hover {
  border: 4px dotted var(--color-border);
}

input#ckb-theme:checked + label#lbl-theme span {
  background: url(../../../img/theme-dark.png) no-repeat;
  background-size: cover;
}

input#ckb-theme:checked + label#lbl-theme .text-claro {
  display: none;
}

input#ckb-theme:checked + label#lbl-theme .text-oscuro {
  display: block;
}

.article_tres{
  display: none;
}

.article_cuatro{
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: var(--bg-blue);
  }

  aside {
    display: none;
  }
  
  section {
    grid-row: 2 / 3;
    grid-column: 1 / 12;
  }
  
  .article_uno{
    grid-row: 3 / 4;
    grid-column: 1 / 12;
  }
  
  .article_dos{
    grid-row: 4 / 5;
    grid-column: 1 / 12;
  }

  footer {
    grid-row: 5 / 6;
    grid-column: 1 / 12;
  }
}
 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    width: 95%;
    background-color: var(--bg-magenta);
  }

  aside {
    grid-row: 2 / 3;
    grid-column: 1 / 12;
  }
  
  section {
    grid-row: 3 / 4;
    grid-column: 1 / 12;
  }
  
  .article_uno{
    grid-row: 4 / 5;
    grid-column: 1 / 12;
  }
  
  .article_dos{
    grid-row: 5 / 6;
    grid-column: 1 / 12;
  }

  footer {
    grid-row: 6 / 7;
    grid-column: 1 / 12;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: var(--bg-orange);
  }

  aside {
    grid-row: 2 / 5;
    grid-column: 1 / 4;
  }

  section {
    grid-row: 2 / 3;
    grid-column: 4 / 12;
  }

  .article_uno{
    grid-row: 3 / 4;
    grid-column: 4 / 12;
  }
  
  .article_dos{
    grid-row: 4 / 5;
    grid-column: 4 / 12;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: var(--bg-green);
  }

  aside {
    grid-row: 2 / 4;
    grid-column: 1 / 4;
  }
  
  section {
    grid-row: 2 / 3;
    grid-column: 4 / 12;
  }

  .article_uno{
    grid-row: 3 / 4;
    grid-column: 4 / 8;
  }
  
  .article_dos{
    grid-row: 3 / 4;
    grid-column: 8 / 12;
  }
  
  footer {
    grid-row: 4 / 5;
    grid-column: 1 / 12;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: var(--bg-blue);
  }

  aside {
    grid-row: 2 / 5;
    grid-column: 1 / 4;
  }
  
  section {
    grid-row: 2 / 3;
    grid-column: 4 / 12;
  }

  .article_uno{
    grid-row: 3 / 4;
    grid-column: 4 / 8;
  }
  
  .article_dos{
    grid-row: 3 / 4;
    grid-column: 8 / 12;
  }

  .article_tres{
    display: block;
    grid-row: 4 / 5;
    grid-column: 4 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article_cuatro{
    display: block;
    grid-row: 4 / 5;
    grid-column: 8 / 12;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    grid-row: 5 / 6;
  }
}